$mdc-button-height: 60px;
$mdc-button-horizontal-padding: 17px;
$mdc-button-contained-horizontal-padding: 17px;
$mdc-dense-button-height: 45px;

@import "@material/ripple/common";
@import "@material/ripple/mixins";

@import "@material/button/mixins";
@mixin mdc-button-base_() {
  @include mdc-ripple-surface;
  @include mdc-ripple-radius-bounded;
  @include mdc-button-horizontal-padding($mdc-button-horizontal-padding);

  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  height: $mdc-button-height;
  border: none;
  outline: none;
  /* @alternate */
  line-height: inherit;
  user-select: none;
  -webkit-appearance: none;
  overflow: hidden;
  vertical-align: middle;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  // postcss-bem-linter: ignore
  &:active {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    @include mdc-theme-prop(background-color, transparent);

    color: $mdc-button-disabled-ink-color;
    cursor: default;
    pointer-events: none;
  }
}
@import "@material/button/variables";

// postcss-bem-linter: define button
.btn {
  @include mdc-button-base_;
  @include mdc-button-shape-radius(0);
  @include mdc-button-container-fill-color(transparent);
  @include mdc-button-ink-color(primary);
  @include mdc-states(primary);

  // The icon CSS class overrides styles defined in the .material-icons CSS
  // class, which is loaded separately so the order of CSS definitions is not
  // guaranteed. Therefore, increase specifity by nesting this class to ensure
  // overrides apply.
  .btn__icon {
    @include mdc-button__icon_;
  }
}

.btn__label + .btn__icon {
  @include mdc-button__icon-trailing_;
}

// stylelint-disable-next-line selector-no-qualifying-type
svg.btn__icon {
  @include mdc-button__icon-svg_;
}

.btn--raised,
.btn--unelevated,
.btn--outlined {
  .btn__icon {
    // Icons inside contained buttons have different styles due to increased button padding
    @include mdc-button__icon-contained_;
  }

  .btn__label + .btn__icon {
    @include mdc-button__icon-contained-trailing_;
  }
}

.btn--raised,
.btn--unelevated {
  @include mdc-button--filled_;
  @include mdc-button-container-fill-color(primary);
  @include mdc-button-ink-color(on-primary);
  @include mdc-states(on-primary);
}

.btn--raised {
  @include mdc-button--raised_;
}

.btn--outlined {
  @include mdc-button--outlined_;
  @include mdc-button-outline-width(2px);
  @include mdc-button-outline-color(primary);
}

.btn--dense {
  @include mdc-button--dense_;
}

.btn.btn--secondary {
  @include mdc-button-container-fill-color(transparent);
  @include mdc-button-ink-color(secondary);
  @include mdc-states(secondary);
}
.btn--raised.btn--secondary,
.btn--unelevated.btn--secondary {
  @include mdc-button-container-fill-color(secondary);
  @include mdc-button-ink-color(on-secondary);
  @include mdc-states(on-secondary);
}
.btn--outlined.btn--secondary {
  @include mdc-button-outline-width(2px);
  @include mdc-button-outline-color(secondary);
}
