/**
 * Colors
 */
.white{
	color: $white;
}
.bg-white{
	background-color: $white;
}
.gray-light{
	color: $gray-light;
}
.bg-gray-light{
	background-color: $gray-light;
}
.gray{
	color: $gray;
}
.bg-gray{
	background-color: $gray;
}
.gray-dark{
	color: $gray-dark;
}
.bg-gray-dark{
	background-color: $gray-dark;
}
.black{
	color: $black;
}
.bg-black{
	background-color: $black;
}

/**
 * Primary
 */
.primary{
	color: $primary;
}
.bg-primary{
	background-color: $primary;
}
.primary-light{
	color: $primary-light;
}
.bg-primary-light{
	background-color: $primary-light;
}
.primary-dark{
	color: $primary-dark;
}
.bg-primary-dark{
	background-color: $primary-dark;
}

/**
 * Secondary
 */
.secondary{
	color: $secondary;
}
.bg-secondary{
	background-color: $secondary;
}
.secondary-light{
	color: $secondary-light;
}
.bg-secondary-light{
	background-color: $secondary-light;
}
.secondary-dark{
	color: $secondary-dark;
}
.bg-secondary-dark{
	background-color: $secondary-dark;
}
.bg-primary-text{
	background-color: $primary-text;
}
.bg-secondary-text{
	background-color: $secondary-text;
}
.bg-secondary,
.bg-secondary-light{
	color: $secondary-text;
}


.bg-primary,
.bg-primary-light,
.bg-primary-dark,
.bg-secondary-dark,
.bg-gray-dark,
.bg-black{
	color: $white;
}
