@mixin color($name, $color) {
	.#{$name}{
		color: $color;
	}
	.bg-#{$name}{
		background-color: $color;
	}
}
/**
 * Colors
 */
 @include color('white', $white);
 @include color('gray-light', $gray-light);
 @include color('gray', $gray);
 @include color('gray-dark', $gray-dark);
 @include color('black', $black);

 @include color('primary', $primary);
 @include color('primary-light', $primary-light);
 @include color('primary-dark', $primary-dark);

 @include color('secondary', $secondary);
 @include color('secondary-light', $secondary-light);
 @include color('secondary-dark', $secondary-dark);

 @include color('danger', $danger);
 @include color('danger-light', $danger-light);
 @include color('danger-dark', $danger-dark);


.bg-primary,
.bg-primary-light,
.bg-primary-dark,
.bg-secondary-dark,
.bg-gray-dark,
.bg-danger,
.bg-danger-dark,
.bg-black{
	color: $white;
}
