.entity{
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
	margin: auto;
	p{
		margin: 0;
	}
}
.entity-image{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-height: none;
	max-width: none;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	background-color: #f5f5f5;
}
.entity-image-wrap{
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 75%;
}
.entity-info{
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	padding: 10px;
	border: 1px solid $border-color;
}
.entity-footer{
	margin-top: auto;
}
.entity-row{
	margin-bottom: 10px;
}
.ellipsis{
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100%;
	overflow: hidden;
    display: block;
}
.entity-right{
	float: right;
}
.entity-left,
.entity-right{
	margin: 0;
}
