label.shown{
	opacity: 1;
	top: 0;
	left: 0;
	transition: opacity 0.01s, top 0.2s, left 0.2s;
}
label{
	left: 17px;
	position: relative;
	opacity: 0;
	top: 3em;
	transition: opacity 0.21s, top 0.2s, left 0.2s;
	z-index: 1;
}
.form-control{
	background-color: $gray-light;
	background-image: none;
	border: 0;
	border-bottom: 2px solid $gray-dark;
	border-radius: 0;
	display: block;
	padding: 17px 17px;
	width: 100%;
	&[disabled],
	fieldset[disabled] & {
		cursor: 'not-allowed';
		opacity: .75;
	}
	textarea{
		height: auto;
	}
	&:focus {
		outline: 0;
		border-bottom-color: $primary-light;
		background-color: darken($gray-light, 5%);
		&::-webkit-input-placeholder{ /* WebKit browsers */
			color: transparent;
		}
		&:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
			color: transparent;
		}
		&::-moz-placeholder{ /* Mozilla Firefox 19+ */
			color: transparent;
		}
		&:-ms-input-placeholder{ /* Internet Explorer 10+ */
			color: transparent;
		}
	}
	&:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus{
		-webkit-box-shadow: 0 0 0 1000px white inset !important;
		-webkit-text-fill-color: black;
	}
	&[readonly]{
		background-color: transparent;
	}
	&[disabled],
	&.disabled{
		opacity: .75;
	}
	&::-ms-clear {
		display: none;
	}
}
.select{
	position: relative;
	&::before{
		color: $black;
		content: "arrow_drop_down";
		font-family: 'Material Icons';
		font-size: 24px;
		line-height: 1;
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 60px;
		top: 28px;
		margin-bottom: -60px;
		padding-right: 15px;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		-moz-osx-font-smoothing: grayscale;
		font-feature-settings: 'liga';
	}
	select{
		padding-right: 42px;
	}
}
.select-multiple{
	ul{
		line-height: 1.5;
		margin-bottom: 4px;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: $white;
		border: 2px solid $gray-light;
		border-top-width:0;
		border-bottom-width:1px;
		line-height: 60px;
		margin: 0;
		padding: 0 17px;
		position: relative;
		text-transform: capitalize;
		&:last-child{
			border-bottom-width: 2px;
		}
	}
	i{
		cursor: pointer;
		color: $gray;
		font-size: 16px;
		line-height: 1;
		right: 16px;
	}
}
textarea, input, select {
	-webkit-appearance: none;
}
label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
}
label, legend {
	font-size: 14px;
	margin-top: 0;
	font-weight: normal;
}
legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 1em;
	line-height: inherit;
	border: 0;
}
fieldset {
	padding: 0;
	margin: 0;
	border: 0;
	min-width: 0;
}
textarea.form-control,
textarea.form-control:focus {
	height: auto;
	resize: vertical;
	padding-top: 16px;
	padding-bottom: 16px;
}
