$mdc-layout-grid-breakpoints: (
	desktop: 840px,
	tablet: 480px,
	phone: 0px
);

$mdc-layout-grid-columns: (
	desktop: 12,
	tablet: 8,
	phone: 4
);

$mdc-layout-grid-default-margin: (
	desktop: 28px,
	tablet: 18px,
	phone: 18px
);

$mdc-layout-grid-default-gutter: (
	desktop: 28px,
	tablet: 18px,
	phone: 18px
);

$mdc-layout-grid-column-width: (
	desktop: 72px,
	tablet: 72px,
	phone: 72px
);

$mdc-layout-grid-default-column-span: 4;

$mdc-layout-grid-max-width: null;

@import "./variables";
@import "@material/layout-grid/mixins";

:root {
  @each $size in map-keys($mdc-layout-grid-columns) {
    --mdc-layout-grid-margin-#{$size}: #{map-get($mdc-layout-grid-default-margin, $size)};
    --mdc-layout-grid-gutter-#{$size}: #{map-get($mdc-layout-grid-default-gutter, $size)};
    --mdc-layout-grid-column-width-#{$size}: #{map-get($mdc-layout-grid-column-width, $size)};
  }
}

// postcss-bem-linter: define layout-grid
.grid {
  @each $size in map-keys($mdc-layout-grid-columns) {
    @include mdc-layout-grid-media-query_($size) {
      $margin: map-get($mdc-layout-grid-default-margin, $size);

      @include mdc-layout-grid($size, $margin, $mdc-layout-grid-max-width);
    }
  }
}

.grid__inner {
  @each $size in map-keys($mdc-layout-grid-columns) {
    @include mdc-layout-grid-media-query_($size) {
      $margin: map-get($mdc-layout-grid-default-margin, $size);
      $gutter: map-get($mdc-layout-grid-default-gutter, $size);

      @include mdc-layout-grid-inner($size, $margin, $gutter);
    }
  }
}

.grid__cell {
  // select the upper breakpoint
  $upper-breakpoint: nth(map-keys($mdc-layout-grid-columns), 1);

  @each $size in map-keys($mdc-layout-grid-columns) {
    @include mdc-layout-grid-media-query_($size) {
      $gutter: map-get($mdc-layout-grid-default-gutter, $size);

      @include mdc-layout-grid-cell($size, $mdc-layout-grid-default-column-span, $gutter);

      @for $span from 1 through map-get($mdc-layout-grid-columns, $upper-breakpoint) {
        // Span classes.
        // stylelint-disable max-nesting-depth
        @at-root .grid__cell--span-#{$span},
          .grid__cell--span-#{$span}-#{$size} {
          @include mdc-layout-grid-cell-span_($size, $span, $gutter);
        }
        // stylelint-enable max-nesting-depth
      }
    }
  }

  // Order override classes.
  @for $i from 1 through map-get($mdc-layout-grid-columns, $upper-breakpoint) {
    &--order-#{$i} {
      @include mdc-layout-grid-cell-order($i);
    }
  }

  // Alignment classes.
  &--align-top {
    @include mdc-layout-grid-cell-align(top);
  }

  &--align-middle {
    @include mdc-layout-grid-cell-align(middle);
  }

  &--align-bottom {
    @include mdc-layout-grid-cell-align(bottom);
  }
}

.grid--fixed-column-width {
  @each $size in map-keys($mdc-layout-grid-columns) {
    @include mdc-layout-grid-media-query_($size) {
      $margin: map-get($mdc-layout-grid-default-margin, $size);
      $gutter: map-get($mdc-layout-grid-default-gutter, $size);
      $column-width: map-get($mdc-layout-grid-column-width, $size);

      @include mdc-layout-grid-fixed-column-width($size, $margin, $gutter, $column-width);
    }
  }
}

.grid--align-left {
  margin-right: auto;
  margin-left: 0;
}

.grid--align-right {
  margin-right: 0;
  margin-left: auto;
}
// postcss-bem-linter: end
