$white: #fdfdfc
$gray-light: #e8e8ea
$gray: #babab7
$gray-dark: #424240
$black: #282818

$primary: #4a148c
$primary-light: #7c43bd
$primary-dark: #12005e

$secondary: #66bb6a
$secondary-light: #98ee99
$secondary-dark: #338a3e

$danger: #911
$danger-light: #d89190
$danger-dark: #7b1111

$border-color: $gray-light

// Material Design
$mdc-theme-primary: $primary
$mdc-theme-on-primary: $white
$mdc-theme-secondary: $secondary-dark
$mdc-theme-on-secondary: $white
