$white: #f7f7f7
$gray-light: #dfdfdf
$gray: #787878
$gray-dark: #424242
$black: #282828

$primary: #4a148c
$primary-text: $white
$primary-light: #7c43bd
$primary-dark: #12005e
$secondary: #66bb6a
$secondary-text: $black
$secondary-light: #98ee99
$secondary-dark: #338a3e

$border-color: $gray-light
