@import "_variables";

body{
  margin: 0;
  background-color: $white;
}
*{
  box-sizing: border-box;
}
body > header{
  padding: 12em 10px;
  margin: 0;
  text-align: center;
  background-color: $black;
  color: $white;
}
header{
  text-align: center;
  h1, h2, h3{
    display: inline-block;
    margin: auto;
    padding: 0 15px;
    margin: 0;
    &::after{
      margin-left: -.25em;
      margin-right: -.25em;
      margin-top: .15em;
      content: "";
      display: block;
      height: .1rem;
      background: $white;
    }
  }
}
section{
  padding: 0 0 4em 0;
}
section header{
  padding: 6em 0;
  background: $gray-dark;
  color: $white;
}
section article header{
  padding: 4em 0;
  background: $gray;
  color: $black;
  h1, h2, h3{
    &::after{
      background: $black;
    }
  }
}
#color .grid__cell{
  padding: 10px 0;
}
