body{
    margin: 60px 0;
}
*{
    box-sizing: border-box;
}
section{
    padding-top: 40px;
}

@import "_variables";


@import "partials/_button";
@import "partials/_entity";
@import "partials/_grid";
@import "partials/_typography";
