body{
	margin: 60px 0;
}
*{
	box-sizing: border-box;
}
section{
	padding-top: 40px;
}
hr{
	margin: 2em 0;
}
@import "_variables";

@import "partials/_button";
@import "partials/_color";
@import "partials/_entity";
@import "partials/_grid";
@import "partials/_icons";
@import "partials/_form";
@import "partials/_typography";
