@import "_variables";

body{
	margin: 0;
	background-color: $white;
}
*{
	box-sizing: border-box;
}
section{
	padding-top: 40px;
}
hr{
	margin: 2em 0;
}
.page-header{
	padding: 100px 10px 120px 10px;
	margin: 0;
	text-align: center;
}
#color .mdc-layout-grid__cell{
	padding: 10px 0;
}

@import "partials/_button";
@import "partials/_color";
@import "partials/_entity";
@import "partials/_grid";
@import "partials/_icons";
@import "partials/_form";
@import "partials/_typography";
